@charset "utf-8";
/*页面布局*/
/*用户注册协议*/
/*关于我们*/
.about-info p{font-size:15px;text-indent:15px;margin:15px 0;}
.my-card{margin-bottom:10px;border-bottom:1px solid #e5e5e5;}
.my-card-content{text-align:center;margin:5px 0 10px;}
.my-card-content img{width:80% !important;}
.my-pad{padding:20px 0;}
.my-pad li a{text-align:center;}
.icon-container .mui-icon{line-height:80px;}
.icon-container{width:80px;height:80px;border-radius:50%;margin:0 auto;}
.icon-con-into h4{font-size:16px;font-weight:normal;margin-top:10px;}
.icon-con-into p{font-size:12px;margin:5px 0;text-indent:0;}
.my-pad2{padding:20px 20px 60px;}
.my-pad2 h4{font-size:16px;font-weight:normal;}
.my-pad2 dd{}
.my-lpad2 ul p{font-size:12px;margin-left:30px;}
/*联系我们*/
.mui-table-view:before,.mui-table-view:after,.mui-table-view-cell:after{height:0;}
.cus-ser .mui-table-view-cell{border-bottom:1px solid #e5e5e5;}
.cus-ser .mui-table-view-cell:last-child{border-bottom:0;}
.mui-navigate-right .invalid-color{margin-top:5px;font-size:12px;}
/*交易账单*/
.bills .mui-table-view:first-child{margin-top:0;}
/*账单详情*/
.bills-detail .mui-table-view-cell:last-child{border-top:15px solid #f0f3f5 !important;}
.bills-detail-tit{padding:30px 0 10px;}
.bills-detail ul p{font-size:15px;}
/*我的费率*/
.my-rates{margin-bottom:60px;}
.my-rates table{width:100%;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.my-rates table caption{text-align:left;padding:10px 20px;}
.my-rates table tr{width:100%;}
.my-rates table tr th{padding:10px 0;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.my-rates table tr td{width:20%;padding:10px 0px;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.my-rates table tr td span{display:inline-block;}
/*分享素材*/
.material-info{height:40px;}
.material-list li:not(:last-child){border-bottom:1px solid #e5e5e5;}
.block-show{height:auto;}
.block-hide{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.btn-show{display:block;}
.btn-hide{display:none;}
.btn-con{margin:10px 0}
.material-pic{width:100%;height:100px;}
.material-pic-container{width:32%;margin-right:1%;height:100px;float:left;overflow:hidden;}
/*.material-pic-container img{max-width:100%;max-height:100%;}*/
/*专属二维码列表*/
.exc-code-list{padding-top:20px;min-height:300px;overflow:hidden;}
.exc-code-list li{width:33.33%;margin:5px 0;}
.exc-code-list li div{width:90%;margin:0 auto;}
.exc-code-list img{width:100%;}
.exc-code-list p{width:90%;height:32px;margin:0 auto;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
/*专属二维码*/
.exc-code{background:url("../images/exclusice_code_bg.png") no-repeat;background-size:100%;}
.code-container{width:140px;height:140px;position:absolute;top:52%;left:50%;margin-left:-65px;}
.code-container img{width:100%;border-radius:5%;}
#muiBarTab{box-shadow: 0 0 0;}
#muiBarTab .line{width:1px;height:100%;}
#muiBarTab a:link,#muiBarTab a:hover,#muiBarTab a:active,#muiBarTab a:visited{color:#333;}
/*扫码支付*/
.richscan-box{width:90%;}
.richscan-code-container{width:80%;margin:0 auto;}
.richscan-code-container img{width:100%;height:auto;}
.richscan-btn{width:80%;margin:50px auto 10px;}

/*还款记录*/
.repayment-history .mui-table-view-cell:not(:first-child){padding:5px 15px;}
.repayment-history .mui-table-view-cell a{margin:-5px -15px;}
/*还款计划列表*/
.repay-plan-list{padding:0;}
.mui-control-content .mui-loading {margin-top: 50px;}
.repay-plan-list-top{padding:5% 3% 7%;background:url("../images/sawtooth_bg.png") no-repeat;background-size:100% 100%;}
/*.repay-plan-list .mui-segmented-control.mui-scroll-wrapper .mui-scroll{height:36px;}
.repay-plan-list .mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border-bottom:2px solid #1983d1;color:#1983d1;}
.repay-plan-list .mui-segmented-control.mui-segmented-control-inverted .mui-control-item{color:#999;}*/
.repay-plan-list-wrap{width:94%;margin:0 3%;}
.repay-plan-list-wrap ul li:first-child{border-radius: 4% 4% 0 0;}
.repay-plan-list-wrap ul li:last-child{border-radius:0 0 4% 4%;}
/*还款计划详情*/
.generate-plan{margin-bottom:110px;}
.generate-plan .mui-table-view:first-child{margin:0}
.repay-plan-detail table{width:100%;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.repay-plan-detail table tr:nth-child(even){background-color:#f0f3f5;}
.repay-plan-detail table tr{width:100%;}
.repay-plan-detail table tr th{padding:10px 0;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.repay-plan-detail table tr td{padding:10px 0px;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.repay-plan-detail table tr .table-tit{width:;}
.repay-plan-detail table tr .space-top{margin-top:80px;}
.see-details{display:block;}
.my-footer-btn a:link,.my-footer-btn a:hover,.my-footer-btn a:active,.my-footer-btn a:visited{color:#fff;}
/*还款计划提交成功*/
.repay-suc .iconfont{margin-top:70px;color:#27c25a;}
.repay-suc .my-btn-container{margin-top:100px;}
/*信用卡还款详情*/
.creditcard-payment-detailtable{width:100%;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.echarts-container{width:180px;height:180px;margin:0px auto;}
.ecarts-info{position:absolute;top:40%;left:50%;width:80px;margin-left:-40px;text-align:center;word-wrap:break-word;}
.creditcard-payment-detail table caption{text-align:left;padding:10px 20px;}
.creditcard-payment-detail table tr{width:100%;}
.creditcard-payment-detail table tr th{padding:10px 0;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.creditcard-payment-detail table tr td{width:14%;padding:10px 0px;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.creditcard-payment-detail table tr td span{display:inline-block;}
.icon-container2{width:40px;height:40px;border-radius:50%;}
.icon-container2 img{width:70%;height:auto;}

/*收支明细*/
.input-reset{width:24px !important;height:24px !important;top:0;right:0;opacity:0;}

/*会员升级*/
.upgrade-top{background:url("../images/upgrade_top.png") no-repeat;padding:7% 0 9%;background-size:100% 100%;}
.hor-line{display:inline-block;width:30px;height:1px;}
.upgrade-top p img{width:14px;height:auto;}
.upgrade-tit {width:50%;margin:0 auto;}
.upgrade-tit img{width:100%;}
.upgrade-info{width:100%;;background:url("../images/upgrade_bg.png") no-repeat;background-size:100% 100%;}
.upgrade-info li{width:100%;padding:5% 3%;background:url("../images/dotted_double.png") no-repeat bottom;background-size:100% auto;}
.upgrade-info li:nth-child(1) .upgrade-info-left img,.upgrade-info li:nth-child(2) .upgrade-info-left img{width:86px;}
.upgrade-info li:nth-child(3) .upgrade-info-left img{width:126px;}
.upgrade-info li:nth-child(4) .upgrade-info-left img{width:96px;}
.upgrade-info-right img{width:100px;}
.my-btn-yellow2  a:link,.my-btn-yellow2  a:hover,.my-btn-yellow2  a:active,.my-btn-yellow2  a:visited{color:#fff;}
.my-btn-yellow  a:link,.my-btn-yellow  a:hover,.my-btn-yellow  a:active,.my-btn-yellow  a:visited{color:#fff;}
/*分享推广页*/
.to-share img{display:block;width:100%;height:auto;}
