@charset "utf-8";
/*页面布局*/
/*用户注册协议*/
/*关于我们*/
.about-info p{font-size:15px;text-indent:15px;margin:15px 0;}
.my-card{margin-bottom:10px;border-bottom:1px solid #e5e5e5;}
.my-card-content{text-align:center;margin:5px 0 10px;}
.my-card-content img{width:80% !important;}
.my-pad{padding:20px 0;}
.my-pad li a{text-align:center;}
.icon-container .mui-icon{line-height:80px;}
.icon-container{width:80px;height:80px;border-radius:50%;margin:0 auto;}
.icon-con-into h4{font-size:16px;font-weight:normal;margin-top:10px;}
.icon-con-into p{font-size:12px;margin:5px 0;text-indent:0;}
.my-pad2{padding:20px 20px 60px;}
.my-pad2 h4{font-size:16px;font-weight:normal;}
.my-pad2 dd{}
.my-lpad2 ul p{font-size:12px;margin-left:30px;}
/*联系我们*/
.mui-table-view:before,.mui-table-view:after,.mui-table-view-cell:after{height:0;}
.cus-ser .mui-table-view-cell{border-bottom:1px solid #e5e5e5;}
.cus-ser .mui-table-view-cell:last-child{border-bottom:0;}
.mui-navigate-right .invalid-color{margin-top:5px;font-size:12px;}
/*交易账单*/
.bills .mui-table-view:first-child{margin-top:0;}
/*账单详情*/
.bills-detail .mui-table-view-cell:last-child{border-top:15px solid #f0f3f5 !important;}
.bills-detail-tit{padding:30px 0 10px;}
.bills-detail ul p{font-size:15px;}
/*我的费率*/
.my-rates{margin-bottom:60px;}
.my-rates table{width:100%;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.my-rates table caption{text-align:left;padding:10px 20px;}
.my-rates table tr{width:100%;}
.my-rates table tr th{padding:10px 0;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.my-rates table tr td{width:20%;padding:10px 0px;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.my-rates table tr td span{display:inline-block;}
/*分享素材*/
.material-info{height:40px;}
.material-list li:not(:last-child){border-bottom:1px solid #e5e5e5;}
.block-show{height:auto;}
.block-hide{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.btn-show{display:block;}
.btn-hide{display:none;}
.btn-con{margin:10px 0}
.material-pic{width:100%;height:100px;}
.material-pic-container{width:32%;margin-right:1%;height:100px;float:left;overflow:hidden;}
/*.material-pic-container img{max-width:100%;max-height:100%;}*/
/*专属二维码列表*/
.exc-code-list{padding-top:20px;min-height:300px;overflow:hidden;}
.exc-code-list li{width:33.33%;margin:5px 0;}
.exc-code-list li div{width:90%;margin:0 auto;}
.exc-code-list img{width:100%;}
.exc-code-list p{width:90%;height:38px;min-height:38px;margin:0 auto;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
/*专属二维码*/
.exc-code{width:100%;overflow:scroll;}
.exc-code img{width:100%;height:auto;}
.exc-code2{width:100%;height:100%;overflow:scroll;}
.exc-code2 img{width:100%;height:auto;}
.my-btn-r{position:fixed;bottom:100px;left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);display:inline-block;width:35%;height:40px;line-height:40px;border-radius:5px;background-color:#dd524d;color:#fff;text-align:center;}
.code-container{width:140px;height:140px;position:absolute;top:52%;left:50%;margin-left:-65px;}
.code-container img{width:100%;border-radius:5%;}
#muiBarTab{box-shadow: 0 0 0;}
#muiBarTab .line{width:1px;height:100%;}
#muiBarTab a:link,#muiBarTab a:hover,#muiBarTab a:active,#muiBarTab a:visited{color:#333;}
/*扫码支付*/
.richscan-box{width:90%;}
.richscan-code-container{width:80%;margin:0 auto;}
.richscan-code-container img{width:100%;height:auto;}
.richscan-btn{width:80%;margin:50px auto 10px;}

/*还款记录*/
.repayment-history .mui-control-content {min-height:535px;}
.repayment-history  .mui-control-content .mui-loading {margin-top: 50px;}
.card-pic-container{
	width:45px;
	padding:5%;
	height:45px;
	border-radius:50%;
	border:1px solid #e5e5e5;
	margin-right:10px;
}
.card-pic-container img{width:100%;height:100%;}
/*生成计划*/
.generate-plan{
	margin-bottom:90px;
	padding-bottom:0;
}
.mui-bar{
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,.85);
    box-shadow: 0 0 0px rgba(0,0,0,.85); 
}
/*还款计划提交成功*/
.repay-suc .iconfont{margin-top:70px;color:#27c25a;}
.repay-suc .my-btn-container{margin-top:100px;}


/*收支明细*/
.input-reset{width:24px !important;height:24px !important;top:0;right:0;opacity:0;}

/*会员升级*/
.upgrade-top{background:url("../images/upgrade_top.png") no-repeat;padding:7% 0 9%;background-size:100% 100%;}
.hor-line{display:inline-block;width:30px;height:1px;}
.upgrade-top p img{width:14px;height:auto;}
.upgrade-tit {width:50%;margin:0 auto;}
.upgrade-tit img{width:100%;}
.upgrade-info{width:100%;;background:url("../images/upgrade_bg.png") no-repeat;background-size:100% 100%;}
.upgrade-info li{width:100%;padding:5% 3%;background:url("../images/dotted_double.png") no-repeat bottom;background-size:100% auto;}
.upgrade-info li:nth-child(1) .upgrade-info-left img,.upgrade-info li:nth-child(2) .upgrade-info-left img{width:86px;}
.upgrade-info li:nth-child(3) .upgrade-info-left img{width:126px;}
.upgrade-info li:nth-child(4) .upgrade-info-left img{width:96px;}
.upgrade-info-right img{width:100px;}
.my-btn-yellow2  a:link,.my-btn-yellow2  a:hover,.my-btn-yellow2  a:active,.my-btn-yellow2  a:visited{color:#fff;}
.my-btn-yellow  a:link,.my-btn-yellow  a:hover,.my-btn-yellow  a:active,.my-btn-yellow  a:visited{color:#fff;}
/*分享推广页*/
.to-share img{display:block;width:100%;height:auto;}
/*消息*/
.notify .mui-table-view:first-child{margin-top:0;}
.notify .mui-table-view .mui-media-body{height:42px;line-height:42px;}
/*消息列表*/
.notify-list li a{display:block;}
/*动账交易列表*/
.deal-list p{line-height:1.8;}
.deal-list-wrap{background:url("../images/message_-transaction_success.png") no-repeat top right;background-size:23%;}
.bg-top{background:url("../images/bg_top.png") no-repeat;background-size:100% 100%;}
.bg-bot{background:url("../images/bg_bot.png") no-repeat;background-size:100% 100%;}
.main-string{width:2px;height:100px;}
/*注册页面*/
.auth-code .mui-pull-right{width:23%;height:36px;margin:7px 2% 7px 0;padding:10px 0;background-color:#ffa531;color:#fff;font-size:12px;border-radius:3px;}
.auth-code .mui-pull-left{width:40%;padding:28px 0;}
/*下载页面*/
.down-load{padding:0;background:url("../images/bg_vein.png") no-repeat;background-size:100% 100%;}
.prompt-message{width: 100%;z-index: 99;height:70px;background: rgb(52, 52, 52);padding: 15px 5%;box-shadow: rgba(22, 22, 23, 0.62) 0px -10px 16px;color:#7f7e7e;display:none;}
.prompt-message p{width:90%;float:left;color:#7f7e7e;}
.prompt-message .pic-cont{width:8%;height:40px;margin-top:0;float:right;}
.prompt-message .pic-cont img{width:100% !important;height:auto;}
.down-load a:link,.down-load a:hover,.down-load a:active,.down-load a:visited{color:#fff;}
.my-btn-blue:link,.my-btn-blue:hover,.my-btn-blue:active,.my-btn-blue:visited{color:#fff;}
.my-btn-blue2:link,.my-btn-blue2:hover,.my-btn-blue2:active,.my-btn-blue2:visited{color:#fff;}
/*信用卡说明*/
.card-desc table{width:100%;}
.card-desc th,td{width:25%;padding:8px 0;}
.card-desc th{border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.card-desc td{border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
/*确认提交*/
.conf-space-bot{margin-bottom:130px;}
.confirm-box{display:inline-block;width:20%;vertical-align: middle;}
.confirm-box img{width:80%;vertical-align: middle;}
.next-btn{height: 50px;padding: 15px 0;}
/*订单支付*/
.media-pic{width:30%;height:auto;}
.my-code{width:40% !important;padding:0 !important;border:0 !important;margin-bottom:0 !important;}
.code-btn{width:30% !important;margin-top:5px;padding:5px 0 !important;border:0 !important;background-color:#ed6847 !important;color:#fff !important;}
.my-confirm{width:90%;padding:8px 0 8px;background-color:#ff604d !important;color:#fff !important;text-align:center;margin-top:70px;border-radius:5px;position:absolute;left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);border:0 !important;}
.my-confirm:link,.my-confirm:visited,.my-confirm:hover,.my-confirm:active{color:#fff;}
.mui-toast-container{position: absolute;top: 60%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.mui-toast-message{width:50%;background-color:#2c2c2d;color:#fff;}
.loading-box{position:absolute;top:55%;left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.loading-box img{width:30px;height:30px;}
.hid-load{display:none;}
/*操作指南*/
.intr-top{width:100%;}
.intr-top img{width:100%;height:auto;}
.intr-list-pic{width:80%;border:1px solid #f0f0f0;border-radius:50%;position:relative;margin:0 auto 10px;}
.intr-list-pic img{width:50%;position: absolute;left:50%;top:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.intr-detail{width:80%;margin:0 auto;}
.intr-detail img{width:60%;margin-top:15px;}
/*银联还款通道签约*/
.code-btn2{width:30% !important;margin-top:5px;padding:5px 0 !important;border:0 !important;}
.my-confirm2{width:90%;padding:18px 0 18px !important;color:#fff !important;text-align:center;margin-top:70px;border-radius:5px;position:absolute;left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);border:0 !important;}
.my-confirm2:link,.my-confirm2:visited,.my-confirm2:hover,.my-confirm2:active{color:#fff;}
.media-pic2{width:27%;height:auto;}
.signed-list li:nth-child(3){margin-top:10px;}
/*列表页面*/
.my-slide-con{width:50%;line-height:1.6;}
.my-slide-btn{display:block;width:30%;background-color:#F2C43B;color:#fff;text-align:center;position:absolute;bottom:10px;}
.media-img{width:100%;height:auto;}
.wrap-list{margin:2%;}
.my-badge-org{display:inline-block;font-size:14px;padding:2px 5px;background-color:#ff4400;color:#fff;border-radius:3px;position:absolute;top:-25%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
/*新信用卡*/
.recommendation-content-list{
	padding:3% 2%;
	min-height:95px;
}
.recommendation-content-list .my-img-responsive{
	max-width:135px;
}
.select-city-con{
	width:94%;
	margin:0 auto;
	border-bottom:1px solid #605252;
}
.select-city{
	border:none !important;
	background-color:#f5f5f5 !important;
	flex:2;
	margin:0 0 0 20px !important;
	padding:0 !important;
}
.bg-blue-tit{
	border-radius:10px 10px 0 0;
	background-color:#4496c8;
}
.bor-frame{
	display:inline-block;
	width:70px;
	text-align:center;
	border:1px dashed #4496c8;
	padding:0 3px;
}
.mui-picker,.mui-poppicker{
	background-color:#f5f5f5;
}
.reset-btn{
	border:1px solid #ccc;
	border-radius:5px;
	padding:2px 8px;
	color:#333;
}